#jumbo {
  height: 50vh;
}

#leadership, #graphicdesign, #academia {

  max-width:1000px;

}

#parallax1 {
  background-image: url("Images/sunia-group.JPG");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax2 {
  background-image: url("Images/book-compilation.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
