body, html {
  height: 100vh;
}

#jumbo {
  background-color:darkgrey;
  color:white;
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8) ), url("Images/crimson-sky.jpg");
  height: 100vh;
  min-height:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-height: 500px) {
    .banner-img {
        display:none;
    }
}

.jumbotron {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size:50px;
  font-weight:bold;
  text-align:center;
}

.jumbotron img {
  margin: 3em auto;
}

#socials {
  background: none;
  padding: 20px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#socials-footer {
  background:none;
  font-size:20px;
  padding:10px;
  color:black;
  text-decoration:none;
}

.fa:hover {
  text-decoration: none;
}

.fa-facebook:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  color: #3B5998;
}

.fa-instagram:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  color: #ffdc80;
}

.fa-twitter:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  color: #1DA1F2;
}

.fa-youtube:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  color: #ff0000;
}

.fa-github:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  color: #4078c0;
}

#parallax {
  background-image: url("Images/parallax-image-universe.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome {
  max-width:500px;
  text-align:center;
  float: none;
  margin: 0 auto;
}

.center-block {
  display: table;
  margin: auto;
}

.container-fluid {
  margin-top: 50px;
  margin-bottom:50px;
}

div#collapsibleNavbar a.nav-link:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  color:#ff0000;
}
