<div class="sidebar">
	<h3 style="font-style: italic;">Michael's Musings</h3>
	
	<p class="bio">You may have stumbled across this site looking for a blog. Look <a href="/blog.html">no further</a>. It's a mix of current events, technology, and even poetry. New post every Friday.</p>

	<div style="text-align:center; margin-bottom:25px;">
		<a class="btn btn-primary" href="/blog.html" role="button">My blog</a>
	</div>

	<a class="twitter-timeline" data-lang="en" data-height="600" href="https://twitter.com/michaelfromyeg?ref_src=twsrc%5Etfw">Tweets by michaelfromyeg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>